body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

#start-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 500px;
}

#start-menu .options {
  width: 250px;
  height: 150px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#start-menu .options p {
  display: flex;
  justify-content: center;
  align-items: center;
}

#start-menu .options .option-buttons {
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}
button {
  height: 35px;
  width: 100px;
  margin: 2px 0;
}

button.selected {
  background-color: rgb(0, 195, 255);
}

#scores {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.direction-list {
  list-style-type: none;
}

#player-one-score,
#player-two-score,
.does-not-exist,
#end-game-message {
  display: none;
}

#main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
}

#left-display,
#right-display {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 300px;
  height: 500px;
  width: 300px;
  height: 500px;
  padding-top: 100px;
}

#left-display {
  padding-right: 100px;
}
#right-display {
  padding-left: 100px;
}
#place-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
}

#grid-map {
  position: relative;
  height: 500px;
  width: 500px;
  border: 1px solid black;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  z-index: -2;
}

.grid-tile {
  position: relative;
  height: 20px;
  width: 20px;
  border: 1px solid blue;
  background-color: skyblue;
  box-sizing: border-box;
  z-index: -1;
}

.grid-tile:nth-child(odd) {
  position: relative;
  border: 1px solid blue;
  background-color: rgb(183, 218, 224);
  z-index: -1;
}

#grid-map .snake1 {
  position: relative;
  border: 1px solid red;
  background-color: maroon;
  box-sizing: border-box;
  z-index: 1;
}

#grid-map .snake2 {
  position: relative;
  border: 1px solid red;
  background-color: yellow;
  box-sizing: border-box;
  z-index: 1;
}

#grid-map .apple {
  position: relative;
  border: 1px solid rgb(118, 231, 127);
  background-color: green;
  box-sizing: border-box;
  z-index: 2;
}

#grid-map .obstacle {
  position: relative;
  height: 20px;
  width: 20px;

  z-index: -1;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer h2 {
  margin: 0;
  padding: 0;
}

/* #instructions .obstacle {
  height: 20px;
  width: 20px;
  display: inline-block;
  position: relative;
  background-color: black;
  box-sizing: border-box;
  z-index: 2;
} */
